a {
    text-decoration: none !important;
    outline: none
}

.navbar {
    background-color: rgb(244, 247, 245);
    height: 43px ;
    padding: 0 ;
    font-size: 0.7rem;
    border-bottom: 3px solid rgb(44, 3, 141);
}

.nav-item {
    color: rgb(250, 245, 245) ;
}

.nav-item:hover {
    text-decoration: none !important;
    background-color: rgb(44, 3, 141);
}

.nav-link {
    text-decoration: none !important;
    color: rgb(31, 29, 29) !important;
}

.nav-link:hover {
    color: rgb(253, 252, 252) !important;
}

@media only screen and (max-width: 730px) {
   
    .nav-link {
        font-size: 15px;
    }
}

@media only screen and (max-width: 611px) {
   
    .navbar {
        height: 80px;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .navbar {
        height: 120px
    }
    .nav-link {
        font-size: 15px;
    }
}

