a {
    text-decoration: none !important;
}

.navbar {
    background-color: rgb(56,75,110);
    height: 50px ;
    padding: 0 ;
    border-bottom: 6px solid rgb(238, 193, 14);
}

.nav-item {
    color: rgb(206, 203, 203) ;
}

.nav-item:hover {
    background-color: rgb(238, 193, 14);
}

.nav-link {
    color: rgb(228, 223, 223) !important;
}