a {
    text-decoration: none !important;
}

.navbar {
    background-color: rgb(56,75,110);
    height: 46px ;
    padding: 0 ;
    border-bottom: 6px solid rgb(238, 193, 14);
}

.nav-item {
    color: rgb(206, 203, 203) ;
}

.nav-item:hover {
    text-decoration: none !important;
    background-color: rgb(238, 193, 14);
}

.nav-link {
    text-decoration: none !important;
    color: rgb(228, 223, 223) !important;
}

@media only screen and (max-width: 730px) {
   
    .nav-link {
        font-size: 15px;
    }
}

@media only screen and (max-width: 611px) {
   
    .navbar {
        height: 80px;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media only screen and (max-width: 376px) {
    .navbar {
        height: 120px
    }
    .nav-link {
        font-size: 15px;
    }
}

