
#cartContainer {
    position: relative;
}

#cartCount {
    position: absolute;
    bottom: -15px;
    right: 20px;
    color: rgb(15, 15, 15);
    font-size: 12px; 
   
}

#cart {
    position: absolute;
    bottom: 5px;
    right: 35px;
}

@media screen and (max-width: 540px) {
    #cartCount {
        position: absolute;
        bottom: -60px;
        right: 20px;
        color: rgb(15, 15, 15);
        font-size: 12px; 
    }
    #cart {
        position: absolute;
        bottom: -38px;
        right: 35px;
    }
}