h5 h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.courseDetail > img {
    height: auto;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.courseDetail {
    margin: 0 auto;
}

.btn-raised {
    width: 80%;
    margin-bottom: 1rem;
}

#detailDisplay {
    overflow: auto
}
