h5 h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.courseDetail > img {
    height: auto;
    width: 60%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* margin: 0 auto; */
}

.courseDetail {
    padding: 0 auto;
    margin: 0 auto;
}

.btn-raised {
    width: 60%;
    margin-bottom: 1rem;
}

#detailDisplay {
    overflow: auto;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.detailImg {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h6 > span {
    font-weight: 700;
}