.courseImage {
    margin: 40px 30px;
    float: left;
    height: 18.2vw;
    width: 18vw;
    border: 0.5px solid rgb(67, 69, 70);
}

.courseTitle {
    z-index: 100;
    /* background-color: rgb(232, 235, 236); */
    width: 18vw;
    min-height: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.courseImage > img {
    margin: 0 auto;
    height: 18vw;
    width: 18vw;
}

.courseImage > img:hover {
    box-shadow: 0 4px 8px 0 rgba(223, 106, 106, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 767px) {
    .courseTitle {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 376px) {
    .courseTitle {
        font-size: 0.3rem;
    }
}